@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Bold.woff') format('woff'),
        url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Medium.woff') format('woff'),
        url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Light.eot');
    src: local('TT Lakes Light'), local('TTLakes-Light'),
        url('../fonts/TTLakes-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Light.woff') format('woff'),
        url('../fonts/TTLakes-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


/* Убираем бордеры на кнопках в мозилле */
::-moz-focus-inner {
    border: 0;
}


html {
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
}


.container {
    max-width: 1120px;
    padding: 0;
    margin: 0 auto;
    background-color: #F8F8F8;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9FFF5;
    background-color: #FFFFFF;
    min-height: 88px;
}

.container__header {
    padding: 0 8px;
    margin-bottom: 24px;
}

@media (min-width: 768px) {
    .container__header {
        padding: 0 16px;
    }
}

@media (min-width: 1120px) {
    .container__header {
        display: none;
    }

    .container {
        padding-top: 42px;
    }
}



.delimetr {
    min-height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
    width: 2px;
}

.header__delimetr {
    margin: 0 12px;
    flex-shrink: 0;
    flex-grow: 0;
}

.logo {
    outline: none;
}

.header__logo {
    margin-right: auto;
    margin-left: 8px;
}

.button {
    outline: none;
    display: inline-block;
    cursor: pointer;
    min-width: 40px;
    min-height: 40px;
    font-size: 0;
    background: #FF3E79 50% no-repeat;
    border-radius: 50%;
    border: 0;
}

.header__button {
    margin: 8px;
}

.header__button:hover {
    background-color: #EE2D68;
}

.header__button:active {
    background-color: #DD1C57;
}

.header__button:focus {
    box-shadow: 0 0 2px 0px #555;
}



.button--call {
    background-image: url("../img/call.svg");
}

.button--feedback {
    background-image: url("../img/feedback.svg");
}

.button--profile {
    background-image: url("../img/personal.svg");
}

.button--check {
    background-image: url("../img/check.svg");
}

.button--request {
    background-image: url("../img/request.svg");
}

.button--menu {
    background-image: url("../img/menu.svg");
}


.button--feedback,
.button--profile,
.button--call,
.header__delimetr--left {
    display: none;
}

@media (min-width: 768px) and (max-width: 1120px) {

    .button--feedback,
    .button--profile,
    .button--call,
    .header__delimetr--left {
        display: block;
    }
}


/* SUB-HEADER */

.container__sub-header {
    margin-bottom: 24px;
    padding: 0 16px;

}

.sub-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media (min-width: 1120px) {
    .container__sub-header {
        padding: 0 32px;
    }
}

.title {
    font-size: 1.75rem;
    line-height: 2.5rem;
    letter-spacing: -0.6px;
}

.sub-header__title {
    display: inline-block;
    margin: 0 auto 2rem 0;
}

.sub-header__title::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 40px;
    transform: translate(-16px, 8px);
    background-color: #41F6D7;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}


@media (min-width: 1120px) {
    .sub-header__title::before {
        transform: translate(-32px, 8px);
        border-radius: 2px;
    }

    .sub-header__title {
        margin-bottom: 8px;
    }
}

.wide-button {
    font-family: "TT Lakes", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: -0.2px;
    outline: none;
    display: none;
    position: relative;
    background-color: #FFFFFF00;
    cursor: pointer;
    border-radius: 4px;
    border: 0;
    padding: 2px 16px;
}

.wide-button::after {
    content: "";
    position: absolute;
    display: block;
    border-radius: 50%;
    background-color: #FF3E79;
    width: 40px;
    height: 40px;
    top: -8px;
    right: -32px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.wide-button--check::after {
    background-image: url("../img/check.svg");
}

.wide-button--request::after {
    background-image: url("../img/request.svg");
}


.wide-button:focus::after {
    box-shadow: 0 0 2px 0 #555;
}

.wide-button:hover::after {
    background-color: #EE2D68;
}

.wide-button:active::after {
    background-color: #DD1C57;
}

.sub-header__wide-button {
    margin-left: 32px;
    margin-right: 32px;
}

.wide-button:focus {
    text-decoration: 1px underline black;
}

.wide-button:hover {
    text-decoration: 1px underline black;
}

.wide-button:active {
    background-color: #DDDDDD;
}

@media (min-width: 1120px) {
    .wide-button {
        display: flex;
    }
}

.sub-nav {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.2px;
}

.sub-header__sub-nav {
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
    align-items: baseline;
}

@media (min-width: 1120px) {
    .sub-header__sub-nav {
        flex-wrap: wrap;
    }
}

.sub-nav__item {
    list-style: none;
}

.sub-nav__link {
    display: block;
    padding: 0.5em 1em;
    border: 2px solid #FFFFFF00;
    text-decoration: none;
    color: #7E7E82;
    outline-style: none;
}

.sub-nav__link:focus {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.sub-nav__link:hover {
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.sub-nav__link:active {
    background-color: #EEEEEE;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

/* CONTENT */


.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card__title {
    font-size: 0;
}

@media (min-width: 768px) {
    .main-content__card {
        padding: 0 24px;
    }
}

@media (min-width: 1120px) {
    .main-content__card {
        padding: 0 32px;
    }
}

.card__inner {
    padding: 0 16px;
    margin-bottom: 16px;
    flex-grow: 1;
}

@media (min-width: 768px) {
    .card__inner {
        flex-basis: 312px;
    }
}

@media (min-width: 1120px) {
    .card__inner {
        flex-basis: 490px;
        padding: 0;
    }
}

.card__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin: 0;
    max-height: 6rem;
    overflow: hidden;
}

@media (min-width: 768px) {
    .card__text {
        margin-bottom: 10px;
        max-height: 8rem;
    }
}

@media (min-width: 1120px) {
    .card__text {
        max-height: 9rem;
        margin-right: 36px;
        margin-bottom: 12px;
    }
}

.card__picture {
    max-width: 100%;
}

@media (min-width: 768px) {
    .card__picture {
        max-width: 50%;
    }
}

@media (min-width: 1120px) {
    .card__picture {
        max-width: 532px;
    }
}

.card__button {
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    min-height: 24px;
    padding: 4px 4px 4px 30px;
    position: relative;
    outline: none;
    display: inline-block;
    background-color: #FFFFFF00;
    border: 2px solid #41F6D700;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
}

.card__button::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 4px;
    left: 0;
    background: url("../img/expand.svg") 50% no-repeat;
}

.card__button:hover {
    background-color: #FFFFFF;
    border: 2px solid #41F6D7;
}

.card__button:focus {
    border: 2px solid #41F6D7;
}

.card__button:active {
    background-color: #EEEEEE;
    border: 2px solid #41F6D7;
}