@import './content/content.scss';
@import './menu/menu.scss';
@import './header/header.scss';
@import './sub-header/sub-header.scss';
@import './footer/footer.scss';
// 
.container {
    margin: auto;
    background-color: $background-container;
    max-width: $screen-xl;
    // position: relative;
    overflow-x: hidden;
    @media (min-width: $screen-lg) {
        padding-top: 40px;
    }
    @media (min-width: $screen-lg) {
        padding-left: $menu-screen-lg-width;
    }
}