@font-face {
    font-family: "TTLakes";
    font-style: normal;
    font-weight: 500;
    src: url("./fonts/TTLakes-Medium.woff") format("woff");
}

@font-face {
    font-family: "TTLakes";
    font-style: normal;
    font-weight: 900;
    src: url("./fonts/TTLakes-Bold.woff") format("woff");
}

@font-face {
    font-family: "TTLakes";
    font-style: normal;
    font-weight: 300;
    src: url("./fonts/TTLakes-Light.woff") format("woff");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "TTLakes", sans-serif;
}

/* HEADER */

.main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 88px;
    border-bottom: 1px solid #D9FFF5;
    background-color: #FFFFFF;
}

.main-header__right-block {
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 128px;
}

.main-header__right-block::before {
    content: "";
    position: absolute;
    width: 2px;
    min-height: 32px;
    background-color: #EAEAEA;
    left: -4px;
    top: 12px;
    border-radius: 1px;
}

.main-header__logo {
    flex-grow: 1;
    display: block;
}

.button {
    background-color: #FF3E79;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    border: 0;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.button::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
}

.main-header__button {
    margin: 8px;
}

.main-header__menu {
    order: -1;
    margin: 16px;
}

.main-header__menu::before {
    width: 18px;
    height: 16px;
    top: 12px;
    left: 11px;
    background-image: url("img/menu.svg");
}


.button-repair::before {
    width: 20px;
    height: 20px;
    top: 10px;
    left: 10px;
    background-image: url("img/repair.svg");
}

.button-search::before {
    width: 16px;
    height: 20px;
    top: 10px;
    left: 12px;
    background-image: url("img/search.svg");
}

::-webkit-scrollbar {
    /* chrome based */
    width: 0px;
    /* ширина scrollbar'a */
    background: transparent;
    /* опционально */
}

html {
    -ms-overflow-style: none;
    /* IE 10+ */
    scrollbar-width: none;
    /* Firefox */
}

/* MAIN */

.main-page {
    padding: 0 16px;
}

.page-title {
    font-size: 28px;
    position: relative;
}

.main-page__title {
    margin: 24px 0;
}

.page-title::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 4px;
    height: 40px;
    top: 0px;
    left: -16px;
    background-color: #41F6D7;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

}

.sub-nav {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: scroll;
}

.sub-nav__item {
    list-style: none;
    /* display: inline-block; */
}