@font-face {
    font-family: "TTLakes";
    font-style: normal;
    font-weight: 500;
    src: url("./fonts/TTLakes-Medium.woff") format("woff");
}

@font-face {
    font-family: "TTLakes";
    font-style: normal;
    font-weight: 900;
    src: url("./fonts/TTLakes-Bold.woff") format("woff");
}

@font-face {
    font-family: "TTLakes";
    font-style: normal;
    font-weight: 300;
    src: url("./fonts/TTLakes-Light.woff") format("woff");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "TTLakes", sans-serif;
}

/* HEADER */

.main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 88px;
    border-bottom: 1px solid #D9FFF5;
    background-color: #FFFFFF;
}

@media (min-width: 540px) and (max-width: 1120px) {
    .main-header {
        padding: 0 8px;
    }
}

@media (min-width: 1120px) {
    .main-header {
        position: absolute;
        width: 100%;
        background-color: #F8F8F8;
    }
}

.main-header__pre-right-block {
    display: flex;
    justify-content: space-between;
    min-width: 152px;
    margin-right: 20px;
}

@media (max-width: 540px),
(min-width: 1120px) {
    .main-header__pre-right-block {
        position: absolute;
        top: -100%;
    }
}

.main-header__right-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-width: 96px;
    margin: 0 16px 0 20px;
}

@media (max-width: 1120px) {
    .main-header__right-block::before {
        content: "";
        position: absolute;
        width: 2px;
        min-height: 32px;
        background-color: #EAEAEA;
        left: -20px;
        top: 4px;
        border-radius: 1px;
    }
}

@media (min-width: 1120px) {
    .main-header__right-block {
        position: static;
        margin: 42px 32px 20px auto;
    }
}

.logo {
    outline: none;
}

.main-header__logo {
    flex-grow: 1;
    display: block;
    position: relative;
}

.main-header__logo::before {
    content: "";
}

@media (min-width: 1120px) {

    .main-header__logo {
        position: absolute;
        top: -100%;
    }
}

@media (min-width: 540px) and (max-width: 1120px) {

    .main-header__logo {
        margin-left: 20px;
    }

    .main-header__logo::before {
        content: "";
        position: absolute;
        width: 2px;
        min-height: 32px;
        background-color: #EAEAEA;
        left: -20px;
        top: 11px;
        border-radius: 1px;
    }


}

.button {
    font-size: 0;
    outline: none;
    display: inline-block;
    cursor: pointer;
    border: 0;
    text-align: center;
    white-space: nowrap;
    color: black;
}

.button__image {
    min-width: 40px;
    min-height: 40px;
    display: inline-block;
    background: #FF3E79 50% no-repeat;
    border-radius: 50%;
    vertical-align: middle;
}

.button__label {
    vertical-align: middle;
    margin: 9px;
}

.button__image:hover {
    background-color: #EE2D68;
}

.button__image:active {
    background-color: #DD1C57;
}

.button__image:focus {
    box-shadow: 0 0 2px 0px #555;
}

::-moz-focus-inner {
    border: 0;
}


.main-header__menu {
    order: -1;
    margin: 16px;
}

.main-header__menu::after {
    width: 18px;
    height: 16px;
    top: 12px;
    left: 11px;
    background-image: url("img/menu.svg");
}


@media (min-width: 1120px) {

    .main-header__menu {
        position: absolute;
        top: -100%;
    }
}

.button__label {
    font-size: 0;
    display: inline-block;
}

@media (min-width: 1120px) {

    .button__label-request,
    .button__label-check {
        font-size: 16px;
    }
}

.button__image-call {
    background-image: url(img/call.svg);
}

.button__image-feedback {
    background-image: url("img/feedback.svg");
}

.button__image-profile {
    background-image: url("img/personal.svg");
}

.button__image-check {
    background-image: url("img/check.svg");
}

.button__image-request {
    background-image: url("img/request.svg");
}

/* MAIN */

.main-page {
    padding: 24px 0;
    background-color: #F8F8F8;
}

.page-title {
    font-size: 28px;
    position: relative;
}

.main-page__title {
    margin: 0 16px 24px 16px;
}

.page-title::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 4px;
    height: 40px;
    top: 0px;
    left: -16px;
    background-color: #41F6D7;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

}


.sub-nav {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: scroll;
    align-items: center;
}

.main-page__sub-nav {
    padding-left: 0px;
    margin: 10px 16px 24px 16px;
    position: relative;
}

@media (min-width: 1120px) {
    .main-page__sub-nav {
        flex-wrap: wrap;
        overflow-x: hidden;
    }
}

.sub-nav__item {
    list-style: none;
}

.sub-nav__link {
    display: inline-block;
    text-decoration: none;
    color: #7E7E82;
    outline-style: none;
    padding: 8px 20px;

}

.sub-nav__link:hover {
    background-color: #AAAAAA22;
    border-radius: 6px;
}

.sub-nav__link:focus {
    outline: 1px black;
    outline-style: dotted;
}

.sub-nav__link:active {
    background-color: #AAAAAA44;
    border-radius: 6px;
}


.sub-nav__item--active {
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.card {
    display: flex;
    flex-wrap: wrap;
}

.main-page__card {
    justify-content: center;
}

.card__inner {
    margin-bottom: 16px;
    flex-basis: 312px;
    flex-grow: 1;
}

.card__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin: 0 calc(16px + 100vw / 96) 24px calc(16px + 100vw / 96);
}

.card__text--hidden {
    display: none;
}

.card__link {
    text-decoration: none;
    color: #1B1C21;
    position: relative;
    margin-left: 32px;
}

.card__link::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 10px;
    top: 6px;
    left: -16px;
    background: url("./img/more.svg") 50% no-repeat;
}

.card__picture {
    width: 360px;
}