* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* HEADER */

.main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 88px;
    padding: 0 16px;
}

.main-header__right-block {
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 128px;
}

.main-header__right-block::before {
    content: "";
    position: absolute;
    width: 2px;
    min-height: 32px;
    background-color: #EAEAEA;
    left: -4px;
    top: 12px;
    border-radius: 1px;
}

.main-header__logo {
    flex-grow: 1;
    display: block;
}

.button {
    background-color: #FF3E79;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    border: 0;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.button::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
}

.main-header__button {
    margin: 8px;
}

.main-header__menu {
    order: -1;
    margin: 8px;
}

.main-header__menu::before {
    width: 18px;
    height: 16px;
    top: 12px;
    left: 11px;
    background-image: url("img/menu.svg");
}


.button-repair::before {
    width: 20px;
    height: 20px;
    top: 10px;
    left: 10px;
    background-image: url("img/repair.svg");
}

.button-search::before {
    width: 16px;
    height: 20px;
    top: 10px;
    left: 12px;
    background-image: url("img/search.svg");
}