@import './logo/logo.scss';
@import './top-btn/top-btn.scss';
// 
.menu-header {
    display: flex;
    align-items: center;
    // 
    &__top-btn--close {
        margin-right: 16px;
        @media (min-width: $screen-lg) {
            display: none;
        }
    }
    &__logo {
        margin-right: auto;
    }
}