@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Bold.woff') format('woff'),
        url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Medium.woff') format('woff'),
        url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Light.eot');
    src: local('TT Lakes Light'), local('TTLakes-Light'),
        url('../fonts/TTLakes-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Light.woff') format('woff'),
        url('../fonts/TTLakes-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Убираем бордеры на кнопках в мозилле */
::-moz-focus-inner {
    border: 0;
}

html {
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;  
}

.container {
    margin: 0;
    background-color: #ffffff;
}

.menu {
    padding: 16px 0;
    max-width: 320px;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
    box-sizing: border-box;
}

/* menu header */

.header {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 8px min-content min-content 1fr min-content 8px;
    gap: 16px;
    grid-template-areas: 
    ". close-btn logo . search-btn .";
    align-items: center;
}

.logo {
    outline: none;
    display: block;
}

.header__logo {
    box-sizing: border-box;
    grid-area: logo;
}

.button {
    outline: none;
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 0;
    background: #FF3E79 50% no-repeat;
    border-radius: 50%;
    border: 0;
}

.button:hover {
    background-color: #EE2D68;
}

.button:active {
    background-color: #DD1C57;
}

.button:focus {
    box-shadow: 0 0 2px 0px #555;
}

.header__button {
}

.header__button--close {
    grid-area: close-btn;
}

.header__button--search {
    grid-area: search-btn;
}


.button--call {
    background-image: url("../img/call.svg");
}

.button--feedback {
    background-image: url("../img/feedback.svg");
}

.button--profile {
    background-image: url("../img/personal.svg");
}

.button--close {
    background-image: url("../img/close.svg");
}

.button--search {
    background-image: url("../img/search.svg");
}


/* menu nav */

.menu__nav-wrapper {
    padding: 0 16px;
}

.nav {
    list-style: none;
    padding: 0;
}

.nav__link {
    display: inline-block;
    padding: 16px 8px;
    position: relative;
    color: black;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    border: 2px solid #ffffff00;
    outline: none;
}

.nav__link--active {
    color: #7e7e82;
}

.nav__link--active::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 5px;
    height: 32px;
    top: 11px;
    left: -18px;
    background-color: #41F6D7;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.nav__link:hover {
    border: 2px solid #41F6D7;
    border-radius: 4px;
}

.nav__link:focus {
    border: 2px solid #41F6D7;
    border-radius: 4px;
}

.nav__link:active {
    background-color: #eee;
}



/* menu footer */

.footer {
    display: grid;
    grid-template-columns: 8px repeat(3, min-content) 1fr 8px;
    grid-template-rows: min-content 16px min-content 12px min-content 40px min-content;
    align-items: center;
    column-gap: 16px;
    grid-template-areas: 
    ". call-btn feedback-btn profile-btn . .";
    align-items: center;
}

.footer__button--call {
    grid-area: call-btn;
}

.footer__button--feedback {
    grid-area: feedback-btn;
}

.footer__button--profile {
    grid-area: profile-btn;
}

.footer__mail {
    grid-row: 3/4;
    grid-column: 2/-1;
    text-decoration: none;
    color: black;
    margin-right: auto;
}

.footer__tel {
    display: inline-block;
    grid-row: 5/6;
    grid-column: 2/-1;
    text-decoration: none;
    color: black;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    font-weight: bold;
    margin-right: auto;
}

.footer__lang-list {
    grid-row: 7/8;
    grid-column: 2/-1;
    padding: 0;
    margin: 0;
}

.lang-list {
    display: flex;
    list-style: none;
}

.lang-list__item {
    margin-right: 8px;
}

.lang-list__link {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.lang-list__link--active {
    color: #7E7E82;
}

.lang-list__link:hover {
    color: #41F6D7;
}