@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Bold.woff') format('woff'),
        url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Medium.woff') format('woff'),
        url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Light.eot');
    src: local('TT Lakes Light'), local('TTLakes-Light'),
        url('../fonts/TTLakes-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Light.woff') format('woff'),
        url('../fonts/TTLakes-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Убираем бордеры на кнопках в мозилле */
::-moz-focus-inner {
    border: 0;
}

html {
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;  
}

.container {
    margin: 0;
    background-color: #ffffff;
}

.menu {
    padding: 16px;
    max-width: 320px;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
    box-sizing: border-box;
}

/* menu header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.logo {
    outline: none;
    display: block;
}

.header__logo {
    margin-left: 8px;
    margin-right: auto;
    box-sizing: border-box;
}

.button {
    outline: none;
    display: inline-block;
    cursor: pointer;
    min-width: 40px;
    min-height: 40px;
    font-size: 0;
    background: #FF3E79 50% no-repeat;
    border-radius: 50%;
    border: 0;
}

.button:hover {
    background-color: #EE2D68;
}

.button:active {
    background-color: #DD1C57;
}

.button:focus {
    box-shadow: 0 0 2px 0px #555;
}

.header__button {
    margin: 8px;
}


.button--call {
    background-image: url("../img/call.svg");
}

.button--feedback {
    background-image: url("../img/feedback.svg");
}

.button--profile {
    background-image: url("../img/personal.svg");
}

.button--close {
    background-image: url("../img/close.svg");
}

.button--search {
    background-image: url("../img/search.svg");
}


/* menu nav */

.nav {
    list-style: none;
    padding: 0;
}

.nav__link {
    display: block;
    padding: 16px 8px;
    position: relative;
    color: black;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

.nav__link--active {
    color: #7e7e82;
}

.nav__link:focus::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 4px;
    height: 32px;
    top: 11px;
    left: -16px;
    background-color: #41F6D7;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.nav__link:hover {
    background-color: #ddd;
}

/* menu footer */