    @font-face {
        font-family: 'TT Lakes';
        src: url('../fonts/TTLakes-Bold.eot');
        src: local('TT Lakes Bold'), local('TTLakes-Bold'), url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/TTLakes-Bold.woff') format('woff'), url('../fonts/TTLakes-Bold.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'TT Lakes';
        src: url('../fonts/TTLakes-Medium.eot');
        src: local('TT Lakes Medium'), local('TTLakes-Medium'), url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/TTLakes-Medium.woff') format('woff'), url('../fonts/TTLakes-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
    }
    /* Убираем бордеры на кнопках в мозилле */
    
     ::-moz-focus-inner {
        border: 0;
    }
    
    html {
        font-family: "TT Lakes", sans-serif;
        font-size: 16px;
    }
    
    .container {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background-color: #f8f8f8;
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .services {
        background-color: #f8f8f8;
    }
    
    .services__header {
        display: block;
        background-image: linear-gradient(90deg, #f8f8f8, #FFFFFF);
        margin: 0;
        padding: 16px;
    }
    
    .services__title {
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        font-weight: 500;
        color: #7e7e82;
        margin: 0;
    }
    
    .services__list {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 16px 0;
    }
    
    .services__inner {
        position: relative;
    }
    
    @media (max-width: 767px) {
        .services__inner::before {
            content: "";
            position: absolute;
            background-image: linear-gradient(to right, #F8F8F8, transparent);
            width: 40px;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;
        }
        .services__inner::after {
            content: "";
            position: absolute;
            background-image: linear-gradient(to left, #F8F8F8, transparent);
            width: 40px;
            height: 100%;
            top: 0;
            right: 0;
            z-index: 2;
        }
    }
    
    @media (min-width: 768px) {
        .services__list {
            padding: 24px 0 8px 24px;
            height: 164px;
            overflow: hidden;
        }
    }
    
    @media (min-width: 1120px) {
        .services__list {
            padding: 24px 0 8px 32px;
        }
    }
    
    .services__list--opened {
        height: auto;
    }
    
    .services__item {
        display: block;
        list-style: none;
    }
    
    @media (min-width: 768px) {
        .services__item {
            margin-right: 24px;
        }
    }
    
    @media (min-width: 1120px) {
        .services__item {
            margin-right: 32px;
        }
    }
    
    .services__button {
        display: flex;
        align-items: center;
        font-size: 0;
        position: relative;
        background-color: #fff;
        padding: 0 16px;
        box-sizing: border-box;
        height: 72px;
        border: 1px solid #eaeaea;
        border-radius: 6px;
        cursor: pointer;
        outline: none;
        transition: all 100ms ease-in;
        min-width: 240px;
    }
    
    @media (min-width: 768px) {
        .services__button {
            flex-basis: 224px;
        }
    }
    
    @media (min-width: 768px) and (max-width: 1119px) {
        .services__button {
            min-width: 224px;
        }
    }
    
    .services__image {
        display: block;
    }
    
    .services__button::after {
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        top: 16px;
        right: 16px;
        background: url("../img/go.svg") no-repeat 50%;
        transition: all 100ms ease-out;
    }
    
    .services__button:focus {
        border-color: #ff3e79;
    }
    
    .services__button:hover {
        border-color: #ff3e79;
        box-shadow: 0 0 4px 4px #80808044;
    }
    
    .services__button:active {
        box-shadow: 0 0 6px 4px #80808088;
    }
    
    .services__button:hover::after {
        transform: scale(1.2);
    }
    
    .services__button:active::after {
        background-image: url("../img/go-fill.svg");
    }
    
    .button-more {
        font-family: "TT Lakes", sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        min-height: 24px;
        padding: 4px 4px 4px 30px;
        position: relative;
        outline: none;
        background-color: #FFFFFF00;
        border: 2px solid #41F6D700;
        border-radius: 4px;
        cursor: pointer;
        box-sizing: border-box;
        transition: all 0.3s ease-in-out;
    }
    
    .services__button-more {
        margin-left: 24px;
    }
    
    @media (min-width: 1120px) {
        .services__button-more {
            margin-left: 32px;
        }
    }
    
    .button-more::before {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        top: 4px;
        left: 0;
        background: url("../img/expand.svg") 50% no-repeat;
        transition: all 0.5s ease-in-out;
    }
    
    .button-more:hover {
        background-color: #FFFFFF;
        border: 2px solid #41F6D7;
    }
    
    .button-more:focus {
        border: 2px solid #41F6D7;
    }
    
    .button-more:active {
        background-color: #EEEEEE;
        border: 2px solid #41F6D7;
    }
    
    .button-more--active::before {
        transform: scale(1.5) rotate(180deg);
    }
    
    @media (max-width: 767px) {
        .services__button-more {
            display: none;
        }
    }
    /* SWIPER */
    
    .swiper-pagination {
        position: static;
    }
    
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #DDDDDD;
    }
    
    .swiper-pagination-bullet-active {
        background-color: #B5B6BC;
    }
    
    @media (min-width: 768px) {
        .swiper-pagination {
            display: none;
        }
    }
    
    .swiper-slide {
        width: 240px;
        margin-left: 16px;
        transition: all 300ms ease-in;
    }
    
    @media (max-width: 767px) {
        .swiper-slide:last-of-type {
            margin-right: 16px;
        }
    }
    
    @media (min-width: 768px) {
        .swiper-wrapper {
            flex-wrap: wrap;
            width: auto;
        }
        .swiper-slide {
            margin-bottom: 16px;
            width: auto;
            height: auto;
            margin-left: 0;
        }
    }