.footer {
    text-align: center;
    color: #7E7E82;
    font-size: 14px;
    line-height: 16px;
    // 
    &__copyright {
        margin-bottom: 16px;
    }
    &__politics {
        display: block;
        margin-bottom: 16px;
        text-decoration: unset;
        color: #7E7E82;
    }
    &__rules {
        margin-bottom: 16px;
    }
}